{% extends 'AppBundle::base_login.html.twig' %}

{% block title %}
Registration
{% endblock %}

{% block content %}

<!--<div class="register">-->
<div align="left">

</div>
{% endblock %}